:root {
  --modal-radius: 12px;
  --black: #0f0f0f;
  --dark-grey: #222;
  --error: #a9323a;
  --eggplant: #1F1028;
  --dumpster: #314443;
  --light-green: #52C47A;
  --tan: #EDE1D8;
  --light-grey: #f0f0f0;
  --white: #fefefe;
  --shadow: rgb(124, 124, 124);
  --fadeOut: opacity ease-out 300ms;
}

.cards-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem 3rem;
}

.card-title {
  color: var(--light-green);
  width: 260px;
  overflow: hidden;
  white-space: nowrap;
}

.card-box {
  margin: 1rem;
  margin-bottom: 2rem;
  box-shadow: var(--shadow);
}

.swiper-container {
  height: 270px;
  width: 270px;
  overflow: hidden;
}

.card-img {
  height: 270px;
  width: 270px;
  object-fit: cover;
  border-radius: 0.5rem;
}

.card-info-flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.card-rating {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.card-box .swiper-pagination-bullet-active {
  background-color: var(--white) !important;
}

@media only screen and (max-width: 1000px) {

  .swiper-container,
  .card-img {
    height: 400px;
    width: 40vw;
  }
}

@media only screen and (max-width: 800px) {

  .swiper-container,
  .card-img {
    height: 50%;
    max-height: 400px;
    width: 90vw;
  }

  .cards-flex {
    padding: 0px;
  }
